# CAP mahindra
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models


app/vob_mah/dist
app/vob_screen2/dist
app/vobscreen3/dist
app/vobscreen4/dist
app/vobscreen4b/dist
app/vobscreen4bb/dist

resources
# auto generated wildcard
.env