/* .mainVboxComment{ */
    /* padding-top: 20px; */
    /* gap: 20px !important; */

/* } */

.customText
{
    /* padding-left: 15px; */
    /* text-align: center; */
    padding-top: 10px;
    padding-left: 10px;
}
.labelcomment{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 70px;
    font-weight: bolder;
    width: 300px;
    /* font-size: larger; */

}
#__label14-bdi
{
    position: relative;
    /* text-align: center; */
    padding-left:60px;
    padding-bottom: 3rem;
}
/* .buttonhistory{ */
    
    /* padding-left :80vw !important; */
    /* padding-top: -90px !important; */
/* } */

.colClass {
    border: solid 1px black;
}
#vobmah\:\:VOBObjectPage--fe\:\:StandardAction\:\:Delete{
    display: none !important;
}
#vobmah\:\:VOBObjectPage--__button5-internalBtn-inner{
    display: none !important;
}